/* Color Palette */
:root {
    --primary-color: #007bff; /* Bootstrap Primary Blue */
    --secondary-color: #6c757d; /* Bootstrap Secondary Gray */
    --accent-color: #0056b3; /* Darker Blue */
    --background-color: #ffffff; /* White */
    --text-color: #212529; /* Dark Text */
}

/* General Styles */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Container Styles */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    min-height: 80vh;
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card Styles */
.card {
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 15px;
    border-bottom: 1px solid var(--secondary-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

/* Button Styles */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-secondary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transform: translateY(-2px);
}

/* Form Styles */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: none;
}

.btn-block {
    width: 100%;
}

/* Login Container Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--background-color);
}

.login-card {
    background-color: var(--background-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.login-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: none;
}

.btn-block {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    background-color: var(--primary-color);
    border: none;
    color: var(--background-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-block:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
}

/* Alert Styles */
.alert-info {
    background-color: rgba(0, 123, 255, 0.2); /* Light Blue */
    border-color: rgba(0, 123, 255, 0.5); /* Light Blue */
    color: var(--text-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.alert-info:hover {
    background-color: rgba(0, 123, 255, 0.3); /* Light Blue */
}

/* Chart Container Styles */
.chart-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.chart-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
